.qSwitchMain {
	height: 30px;
	width: 120px;

	display: inline-block;
	position: relative;
	cursor: pointer;
	font-family: Helvetica, Arial, sans-serif;
	color:  #fff;

	border: 1px solid #999;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	margin: 10px;	

	/* The following are set in the qSwitch.js:
	overflow: hidden;
	z-index: 20;*/
}

.qSwitchContainer {

	/* The following are set in the qSwitch.js:
	height: 100%;
	position:  absolute; */
}

.qSwitchHandle {
	background: -moz-linear-gradient(90deg, #e3e3e3 0%, #cbcbcb 100%), #ccc;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	z-index: 10;	
	
	/* The following are set in the qSwitch.js:
	position: absolute;*/
	background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#cbcbcb)), #ccc;
	border: 1px solid #888888;
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.91), 0 1px 2px black;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.91), 0 1px 2px black;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.91), 0 1px 2px black;
}

.qSwitchLower {
	
	/* The following are set in the qSwitch.js:
	z-index: 1;
	position: relative;
	height: 100%;
	width: 100%; */
}

.qSwitchOptionA {
	text-align: center;
	padding-top: 7px;
	
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #14cd3d), color-stop(0.75, #1ea32e));
	background-image: -moz-linear-gradient(90deg, #14cd3d 25%, #1ea32e 75%);
	
	/* The following are set in the qSwitch.js:
	height: 100%;
	width:  dynamically generated
	float: left;*/
}

.qSwitchOptionB {
	text-align: center;
	padding-top: 7px;

	background: -moz-linear-gradient(90deg, #d01924 25%, #b51a1f 75%) red;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #d01924), color-stop(0.75, #b51a1f)) red;
	
	/* The following are set in the qSwitch.js:
	height : 100%;
	width:  synamically generated
	float: right;*/
}


.qSwitchIconOptionA {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    
    /* The following are set in the qSwitch.js:
    width: dynamicly generated
    position:  relative; 
    height: 100%;
    margin: 0;
    float: right;*/
}

.qSwitchIconOptionA span:before {
	content: "\f00c"; 
}


.qSwitchIconOptionB {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    
    /* The following are set in the qSwitch.js:
    width: dynamicly generated
    position:  relative; 
    height: 100%;
    margin: 0;
    float: left;*/
}

.qSwitchIconOptionB span:before {
	content: "\f00d"; 
}

